# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [2]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [8]:

# Load the data from the provided URL
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv'
data = pd.read_csv(url)

# Check the shape of the data (number of rows and columns)
data_shape = data.shape

# Display the shape of the data
print("The shape of the data is:", data_shape)

The shape of the data is: (8693, 14)

**Check for data types**

In [10]:
# Step 1: Check the data types of each column
data_types = data.dtypes

# Step 2: Display the data types
print("Data types of each column:\n", data_types)

Data types of each column:
 PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

# missing Values

In [5]:
#Check for missing values in each column
missing_values = data.isnull().sum()

#Display missing values for each column
print("Missing values in each column:\n", missing_values)

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [17]:
#Drop rows with any missing values
data_cleaned = data.dropna()
print("Shape of the dataset after removing missing values:", data_cleaned.shape)

Shape of the dataset after removing missing values: (6606, 14)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [25]:
# Use .loc to avoid the SettingWithCopyWarning
data_cleaned.loc[:, 'Cabin_transformed'] = data_cleaned['Cabin'].str[0]

# Check the unique values in the transformed 'Cabin' column
unique_cabins = data_cleaned['Cabin_transformed'].unique()

# Display the unique values
print("Unique cabin categories:", unique_cabins)

Unique cabin categories: ['B' 'F' 'A' 'G' 'E' 'C' 'D' 'T']

- Drop PassengerId and Name

In [27]:
# Drop the 'PassengerId' and 'Name' columns from the dataset
data_cleaned = data_cleaned.drop(['PassengerId', 'Name'], axis=1)

# Display the shape of the dataset after dropping the columns
print("Shape of the dataset after dropping 'PassengerId' and 'Name':", data_cleaned.shape)

Shape of the dataset after dropping 'PassengerId' and 'Name': (6606, 13)

- For non-numerical columns, do dummies.

In [29]:
# Step 1: Identify non-numerical columns
non_numerical_columns = data_cleaned.select_dtypes(include='object').columns

# Step 2: Apply one-hot encoding (get dummies) to non-numerical columns
data_with_dummies = pd.get_dummies(data_cleaned, columns=non_numerical_columns)

# Step 3: Display the shape of the dataset after applying dummies
print("Shape of the dataset after applying dummies:", data_with_dummies.shape)

Shape of the dataset after applying dummies: (6606, 5330)

**Perform Train Test Split**

In [33]:
#your code here
from sklearn.model_selection import train_test_split
X = data_with_dummies.drop('Transported', axis=1)  # 'Transported' is the target variable
y = data_with_dummies['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training data shape:", X_train.shape)
print("Test data shape:", X_test.shape)

Training data shape: (5284, 5329)
Test data shape: (1322, 5329)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [36]:
# Import the KNN classifier
from sklearn.neighbors import KNeighborsClassifier

# Initialize the KNN model with a chosen k value (for example, k=5)
knn_model = KNeighborsClassifier(n_neighbors=5)

# Train the KNN model on the training data
knn_model.fit(X_train, y_train)

# Use the trained model to make predictions on the test data
y_pred = knn_model.predict(X_test)

# Step 5: Display the first few predictions
print("Predictions on test data:", y_pred[:5])

Predictions on test data: [ True  True False  True False]

- Evaluate your model's performance. Comment it

In [38]:
# Import the necessary evaluation metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision, recall, and F1-score
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Display the evaluation metrics
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-Score: {f1:.2f}")

Accuracy: 0.79
Precision: 0.79
Recall: 0.78
F1-Score: 0.79